:root {
  --background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
}
