:root {
  --background-color: #ffffff;
}

.list {
  list-style: none;
  color: #434455;
}

.menu-item {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-item:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-logo {
  color: #2e2f42;
}
/* address */

.address {
  font-style: normal;
}

.link-adress {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-adress:hover {
  color: #404bbf;
}
.link-adress:focus {
  color: #404bbf;
}

/* section 1 */
.hero-image {
  background-color: #2e2f42;
}
.hero-name {
  font-size: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-service {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-service:hover {
  background-color: #404bbf;
}
.button-service:focus {
  background-color: #404bbf;
}

/* section 2 */
.title-sec2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.tille-h3-sec2 {
}
